@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal p {
    font-family: 'Lora', serif !important;
}

.start {
    height: 100vh;
}

.reveal h2 {
    font-size: 4rem;
}

.reveal h3 {
    font-style: italic;
    font-size: 0.7em;
}

code {
    font-family: 'Fira Code', monospace !important;
    color: darkgray;
}

.bottom {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: .5em;
}

.left {
    text-align: left;
}

.red {
    color: red;
}
